body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header h1 {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 10px;
}

.bg-img {
    /* The image used */
    background-image: url("GameVault.png");

    /* Control the height of the image */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

/* Add styles to the form container */
/* Block of information containing login button*/
.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Set a style for the submit button */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.blended-background {
    background-image: linear-gradient(to bottom, purple, violet);
    background-color: lightyellow; /* The color it blends with */
    background-blend-mode: multiply; /* The blend mode to apply */
    /* Additional styling for visibility */
    width: 100%;
    height: 200px;
}

body.background_purchase {
    min-height: 100vh;
    background: linear-gradient(#302AD4,#7D30A1,#C0329C);
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.content_box {
    background-color: rgba(0, 0, 0, 0.42);
    padding: 20px;
    border-radius: 12px;
}

a:link
{
    color: lightpink;
    background-color: transparent;
    text-decoration: none;
}
a:visited
{
    color:hotpink;
    background-color: transparent;
    text-decoration: none;
}

.purchase {
    background-color: #39BC67;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.purchase:hover
{
    background-color: #015838;
    box-shadow:0 8px 16px 0 #39BC67
}

.Credit {
    background-color: rgba(0,0,0,0.42);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
    .Credit:hover 
    {
        background-color: rgba(0,0,0,0.42);
        box-shadow: 0 8px 16px 0 #f956e2;
    }

.Debit {
    background-color: rgba(0,0,0,0.42);
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .Debit:hover 
    {
        background-color: rgba(0,0,0,0.42);
        box-shadow: 0 8px 16px 0 #f956e2;
    }

.gift
{
    background-color: #686868;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .gift:hover {
        background-color: #525252;
        box-shadow: 0 8px 16px 0 white;
    }
