<body class="blended-background">
    {% extends "base.html" %}
    <!--
        -Friends tab
            -Mail
            -Messages
            -Gifts
    -->
    {% block content %}

  

    


    <img src="/static/css/GameVault.png" alt="Friends Icon" width="100" height="100">
    <!--PlaceHolder for user profile name-->
    <h2>Demo_User_FriendsTab</h2>
    

    <nav>
        <a href="/profile">Profile</a>
        <a href="/friends">Friends</a>
        <a href="/setting">Setting</a>
        <a href="/paymenthistory">Payment History</a>
    </nav>

    <p>--------------------------------------</p>





    <p>Test prase.</p>
    {% endblock %}
