<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blended-background">
    <div class="bg-img">
        <form method="post" action="/login" class="container">
            {% extends "base.html" %}

            {% block content %}
            <label>
                Username:
                <input type="text" name="username" />
            </label><br />
            <label>
                Password:
                <input type="password" name="password" />
            </label><br />
            <button type="submit" class="btn">Login</button>
        </form>
        {% endblock %}
    </div>
</body>