<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blended-background">
    <div class="bg-img">
        <form method="post" action="/login" class="container">
            {% extends "base.html" %}
            <!-- Below removes navbar -->
            {% block navbar %}
            {% endblock %}

            {% block content %}
            <label>
                Username:
                <input type="text" name="username" />
            </label><br />
            <label>
                Password:
                <input type="password" name="password" />
            </label><br />
            <!-- Error message display area -->
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn">Login</button>
            <nav>
                <a href="/creation">Create Account</a>
            </nav>
        </form>
        {% endblock %}
    </div>
</body>