{% extends "base.html" %}
<!--
    -Friends tab
        -Mail
        -Messages
        -Gifts
-->
{% block content %}
<!--PlaceHolder for user profile name-->
<h2>Demo_User_paymentHistoryTab</h2>

<nav>
    <a href="/profile">Profile</a>
    <a href="/friends">Friends</a>
    <a href="/setting">Setting</a>
    <a href="/paymenthistory">Payment History</a>
</nav>

<p>--------------------------------------</p>

<nav>
    <a href="/mail">Mail</a>
    <a href="/friendsOnline">FriendsOnline</a>
    <a href="/messages">Messages</a>
    <a href="/gifts">Gifts</a>
</nav>



<p>Test prase.</p>
{% endblock %}