{% extends "base.html" %}

{% block content %}
<h2>Review & Purchase</h2>

{% if items and items|length > 0 %}
<ul>
    {% for item in items %}
    <li>
        <strong>{{ item.title }}</strong>
        ({{ item.retailer }}) -
        ${{ "%.2f"|format(item.price) }}
        [<a href="{{ item.product_url }}" target="_blank">Open on retailer site</a>]
    </li>
    {% endfor %}
</ul>
<form method="get" action="/purchase">
    <button type="submit">Comfirm</button>
</form>

{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
